<td-tab-select #tabSelect [(ngModel)]="selectedTab">
  <td-tab-option *ngFor="let tab of tabs" [value]="tab">
    {{tab}}
  </td-tab-option>
</td-tab-select>
<p>
  Selected tab: {{ selectedTab }}
</p>
<p>
  <mat-checkbox class="example-margin" [(ngModel)]="markForCheck">Automatically mark for check</mat-checkbox>
</p>
<p>
  <button mat-button (click)="addTab(tabSelect)">Add tab</button>
  <button mat-button (click)="removeTab(tabSelect)">Remove tab</button>
  <button mat-button (click)="checkManually(tabSelect)">Manually mark for check</button>
</p>